.container{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
   
}

.search{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: lightblue;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    
}

app-task-item{
    margin-top: 20px;
}